.textOnInput {
    position: relative;
    margin: 0 auto;
    label {
        position: absolute;
        background-image: linear-gradient(
          to top,
          #18283a 0 calc(50% - 0.5px),
          #121e30 calc(50% - 0.5px)
        );
        padding: 2px;
        transform: translate(1.4rem, -50%);
        z-index: 1;
    }
    .input-with-label {
        background: #18283a;
        border-radius: 12px;
        border: 2px solid #04c0d7;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 12px;
        font-size: 19px;
        color: #fff;
        width: 100%;
    }
}